<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Futureevo.com</title>
	<style>
		body{
			background: #cccccc;
		}
		.iu{
			margin-left: 20px;
		}
		#email{
			padding-top: 15px;
		}
		.ie{
			margin-left:45px ;
		}
		#pass{
			padding-top: 15px;
		}
		.ip{
			margin-left: 24px;
		}
		h1{
			margin-left: 420px;
		}
		.main1{
		  padding-left: 40px ;
		
		
		}
		
		main{
			background: white;
			padding:  50px  50px;
			width: 380px;
		margin-left:210px ;
		height: 150px;
		margin-top: 70px;
		}
		.ipc{
			margin-left: 2px;
		}
		
		#passc{
			padding-top: 15px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="myscripts.js"></script>
</head>
<body>

<header>
	<h1>Sign up</h1>
</header>
<main>
	<form action="/action_page.php">
 	<div class="main1" >
 		<div id="uesrname">
 			<label for="enter uesrname">Enter Uesrname:</label>
 			<input type="text" placeholder="Enter Your Name" class="iu" required>
 		</div>
 		<div id="email">
 			<label for="enter email">Enter Email:</label>
 			<input type="email" placeholder="Enter Your Email" class="ie" required>
 		</div>
 		<div id="pass">
 			<label for="enter password">Enter Password:</label>
 			<input type="password" placeholder="Enter Your Password" class="ip" required>
 		</div>
 		<div id="passc">
 			<label for="enter con password">Confirm Password:</label>
 			<input type="password" placeholder="Enter Confirm Password" class="ipc"required>
 		</div>
 		<input type="submit" value="submit">
 	</div>
 	</form>
</main>
</body>
</html>