body{
	background: #cccccc;
}
.iu{
	margin-left: 20px;
}
#email{
	padding-top: 15px;
}
.ie{
	margin-left:45px ;
}
#pass{
	padding-top: 15px;
}
.ip{
	margin-left: 24px;
}
h1{
	margin-left: 420px;
}
.main1{
  padding-left: 40px ;


}

main{
	background: white;
	padding:  50px  50px;
	width: 380px;
margin-left:210px ;
height: 150px;
margin-top: 70px;
}
.ipc{
	margin-left: 2px;
}

#passc{
	padding-top: 15px;
}